<mat-drawer-container class="example-container" autosize>
    <!-- sidenav -->
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <img class="logo" src="\assets\logos\logo-Photoroom.png" alt="logo">
      <app-side-nav></app-side-nav>
    </mat-drawer>
      <!-- main content -->
      <div class="example-sidenav-content">
        <!-- toolbar -->
        <app-toolbar [drawer]="drawer"></app-toolbar>
        <!-- estudiantes, cursos, home -->
        <router-outlet></router-outlet>
      </div>
  </mat-drawer-container>